<!doctype html>
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>空气</title>
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="/blog/static/images/android-desktop.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="/blog/static/images/ios-desktop.png">
    <meta name="msapplication-TileImage" content="/static//images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">
    <link rel="shortcut icon" href="/blog/static/images/favicon.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/blog/static/css/material.grey-orange.min.css">
    <link rel="stylesheet" href="/blog/static/css/styles.css">

    <style>
        #view-source {
          position: fixed;
          display: block;
          right: 0;
          bottom: 0;
          margin-right: 40px;
          margin-bottom: 40px;
          z-index: 900;
        }
    </style>

  </head>
  <body>

  <script src="/blog/static/plugins/js/jquery-3.5.1.min.js"></script>
  <script src="/blog/static/js/index.js"></script>
    <script>
    function update_favourite() {$.post("/favourite",{"my_id":1,csrfmiddlewaretoken:'{{ csrf_token }}' },function (data) {if(data !== "-1") {$("#favourite").text("+"+data);} else {alert("24小时之后再来");}},"text",)}
    </script>
    <div class="demo-blog mdl-layout mdl-js-layout has-drawer is-upgraded">
      <main class="mdl-layout__content">
        <div class="demo-blog__posts mdl-grid">
            {% for text in index_text_list %}
                {% if forloop.first %}
                    <div class="mdl-card coffee-pic mdl-cell mdl-cell--8-col">
                    <div class="mdl-card__media mdl-color-text--grey-50">
                        <h3><a href="entry.html?id={{ text.text_id }}">{{ text.text_head }}</a></h3>
                    </div>
                    <div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
                        <div class="minilogo"></div>
                        <div>
                            <strong>{{ text.text_user }}</strong>
                            <span>{{ text.text_date }} days ago</span>
                        </div>
                    </div>
                    </div>
                    <div class="mdl-card something-else mdl-cell mdl-cell--8-col mdl-cell--4-col-desktop">
                        <button  class="mdl-button mdl-js-ripple-effect mdl-js-button mdl-button--fab mdl-color--accent" onclick="location.href='/testwriter'">
                            <i class="material-icons mdl-color-text--white" role="presentation">add</i>
                            <span class="visuallyhidden">add</span>
                        </button>
                        <div class="mdl-card__media mdl-color--white mdl-color-text--grey-600">
                            <img src="/blog/static/images/logo.png">
                             <t id="favourite">+{{ my_favourite }}</t>
                        </div>
                        <div class="mdl-card__supporting-text meta meta--fill mdl-color-text--grey-600">
                            <div>
                                <strong></strong>
                            </div>
                            <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="menubtn">
                                <li class="mdl-menu__item" onclick="location.href='about'">关于</li>
                                <li class="mdl-menu__item" onclick="location.href='message'">反馈</li>
                                <li class="mdl-menu__item" onclick="update_favourite()">点赞</li>
                            </ul>
                            <button id="menubtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                                <i class="material-icons" role="presentation">more_vert</i>
                                <span class="visuallyhidden">show menu</span>
                            </button>
                        </div>
                    </div>
                {% else %}
                    <div class="mdl-card on-the-road-again mdl-cell mdl-cell--12-col">
                        <div class="mdl-card__media mdl-color-text--grey-50">
                            <h3><a href="entry.html?id={{ text.text_id }}">{{ text.text_head }}</a></h3>
                        </div>
                        <div class="mdl-color-text--grey-600 mdl-card__supporting-text">
                        {{ text.text_jianjie }}
                        </div>
                        <div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
                            <div class="minilogo"></div>
                             <div>
                                 <strong>{{ text.text_user }}</strong>
                                 <span>{{ text.text_date }} days ago</span>
                             </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
          <nav class="demo-nav mdl-cell mdl-cell--12-col">
            <div class="section-spacer"></div>
            <a href="text_list" class="demo-nav__button" title="show more">
              More
              <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                <i class="material-icons" role="presentation">arrow_forward</i>
              </button>
            </a>
          </nav>
        </div>
        <footer class="mdl-mini-footer">
          <div class="mdl-mini-footer--left-section">
            <button class="mdl-mini-footer--social-btn social-btn social-btn__twitter" onclick="goto_Twitter()">
              <span class="visuallyhidden">Twitter</span>
            </button>
            <button class="mdl-mini-footer--social-btn social-btn social-btn__blogger" onclick="goto_Facebook()">
              <span class="visuallyhidden">Facebook</span>
            </button>
            <button class="mdl-mini-footer--social-btn social-btn social-btn__gplus" onclick="location.href='mailto:'">
              <span class="visuallyhidden">Gmail</span>

            </button>

          </div>
        </footer>
      </main>
      <div class="mdl-layout__obfuscator"></div>
    </div>
    <a href="https://github.com/kongqiahaha/blog" target="_blank" id="view-source" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--white">View Source</a>
    <script src="/blog/static/mdl/material.min.js"></script>
  </body>
  <script>
    Array.prototype.forEach.call(document.querySelectorAll('.mdl-card__media'), function(el) {
      var link = el.querySelector('a');
      if(!link) {
        return;
      }
      var target = link.getAttribute('href');
      if(!target) {
        return;
      }
      el.addEventListener('click', function() {
        location.href = target;
      });
    });
  </script>
</html>
